body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    line-height: 1.6;
}


header {
    background-color: chocolate;
    margin-bottom: 0;
    padding: 20px;
    color: white;
}

.background-color {
    background-color: chocolate;
    padding: 20px;
    margin-bottom: 0;
    color: white;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav ul a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
    text-align: center;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: sticky;
    bottom: 0;
    width: 100%;
}

h1, h2 {
    margin-bottom: 20px;
    text-align: center;
    font-family: Papyrus,fantasy;
    color: cornsilk;
}

p {
    margin-bottom: 20px;
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: brown;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

li {
    float: left;
}

li a {
    display: block;
    color: antiquewhite;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: burlywood;
}

.active {
    background-color: burlywood;
}